<section class="card">
  <a href="/blog/{{id}}">
    <header>{{title}}</header>
    <p>Posted on: {{format_date posted_date}}</p>
    {{!-- <p>Posted by: {{author}}</p>
    <p>{{contents}}</p> --}}
  </a>
</section>
