{{#if loggedIn}}
<section class="card">
    <header>Create a Post</header>
  <div class="card-body">
    <form action="/dashboard/createpost" method="post">
    <label for="postTitle">Title:</label>
  <input type="text" id="postTitle" name="postTitle" placeholder="Enter post title">
  <br/>
  <textarea name="postContent" placeholder="Write your post here"></textarea>
  <br/>
  <button type="submit">Create Post</button>
</form>

<!-- Display Posts -->
{{#if posts.length}}
  <h4>Posts:</h4>
  <ul>
    {{#each posts as |post|}}
      <li>
        <h3>{{post.username}}'s Post</h3>
        <p>{{post.content}}</p>
        <p>Posted on: {{formatDate post.posted_date}}</p>
        <!-- Add more details or styling as needed -->
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No posts yet.</p>
{{/if}}
  </div>
</section>
{{else}}
<a href="/login">You must login first to view this page</a>
{{/if}}