{{#if loggedIn}}
<section class="card">
  {{!-- <a href="/blog/{{blog.id}}"> --}}
    <header>
      <h2>{{post.title}}</h2>
      <p>Date Posted: {{format_date post.posted_date}}</p>
    </header>
    <div class="card-body">
      <!-- Display post details -->
      {{!-- {{#each posts as |post|}} --}}
        <h3>By: {{post.author}}</h3>
        <p>{{post.contents}}</p>
      {{!-- {{/each}} --}}
      
     <!-- Comment Form -->
      <form action="/post/{{post.id}}/comment" method="post">
        <textarea name="commentContent" placeholder="Write your comment here"></textarea> 
        <br/>
        <button type="submit">Submit Comment</button>
      </form>

       <!-- Display Comment -->
       {{#if post.comments.length}}
      <h4>Comments:</h4>
      <ul>
        {{#each post.comments as |comment|}}
          <li>{{comment.content}} - by {{comment.user.username}} on {{format_date comment.posted_date}} </li>
        {{/each}}
      </ul>
    {{else}}
      <p>No comments yet.</p>
    {{/if}}
    </div>
  {{!-- </a> --}}
</section>
{{else}}
<a href="/login">You must login first to view this page</a>
{{/if}}
